@import "tailwindcss";

@theme {
  --color-primary: #C31432;
  --color-secondary: #240B36;
}

@layer base {
  body {
    background-color: #f9fafb;
    color: #111827;
    -webkit-font-smoothing: antialiased;
    font-family: ui-sans-serif, system-ui, sans-serif;
  }
}

/* Custom animated gradient for beautiful hero sections */
.bg-animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}